Output/*
POC_Bolt/Library/*
POC_Bolt/Temp/*
POC_Bolt/Assembly-CSharp.csproj
POC_Bolt/GGJ20018.sln
POC_Bolt/Assembly-CSharp-Editor.csproj
POC_Bolt/NestedPrefabPlugin.sln
POC_Bolt/.vs/NestedPrefabPlugin/v15/.suo
